table {
    height: 240px;
    width: 98vw;
}
tr {
    height: 80px;
    width: 98vw;
}
td {
    height: 80px;
}
td.a {
    background-color: fuchsia;
    width: 12%;
}
td.b {
    background-color: darkseagreen;
    width: 14%;
}
td.c {
    background-color: cornflowerblue;
    width: 17%;
}
td.d {
    background-color: blue;
    width: 30%;
}
td.e {
    background-color: hotpink;
    width: 6%;
}
td.f {
    background-color: lawngreen;
    width: 36%;
}
td.g {
    background-color: rosybrown;
    width: 36%;
}
td.h {
    background-color: cyan;
    width: 36%;
}